  <footer class="footer">
    <div class="spacer"></div>
    <div class="dock">
      <img src="./images/dockicons/finder_icon.png" alt="Finder" class="icon" />
      <img src="./images/dockicons/slack.png" alt="Slack" class="icon" />
      <img src="./images/dockicons/tweetbot.png" alt="Tweetbot" class="icon" />
      <img src="./images/dockicons/dayone.png" alt="Day One" class="icon" />
      <img src="./images/dockicons/safari.png" alt="Safari" class="icon" />
      <img src="./images/dockicons/iTunes.png" alt="iTunes" class="icon" />
      <!--<img src="./images/dockicons/illustrator_icon.png" alt="Illustrator" class="icon"/>-->
      <img src="./images/dockicons/sketch.png" alt="Sketch" class="icon" />
      <img src="./images/dockicons/terminal.png" alt="Terminal" class="icon" />
      <img src="./images/dockicons/atom.png" alt="Atom" class="icon" />
      <img src="./images/dockicons/chrome.png" alt="Chrome" class="icon" />
      <!--<img src="./images/dockicons/RStudio.png" alt="RStudio" class="icon" />-->
      <div class="line"></div>
      <img src="./images/dockicons/trashempty_icon.png" alt="Trash" class="icon" />
    </div>
    <div class="spacer"></div>
  </footer>
