<div id="mobile-nav">
  <i class="icon-reorder"></i>
  <h3>Jared</h3>
  <img src="img/profilePicDev.JPG" alt="" />
</div>

<header>
  <div id="logo">
    <a href="#home">Jared</a>
  </div>
  <nav>
    <ul>
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="styles"><i class="fa fa-css3" aria-hidden="true"></i> Stylesheet</a></li>
      <li><a href="https://github.com/jaredmpeterson"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
    </ul>
  </nav>

  <ul class="filters">
    <li><a href=""></a>All</li>
    <li>
      <a href="#" data-href=".web-design">Web Design</a>
    </li>
    <li>
      <a href="#" data-href=".development">Development</a>
    </li>
    <!-- <li>
      <a href="#" data-href=".photography">Photography</a>
    </li>
    <li>
      <a href="#" data-href=".illustration">Illustration</a>
    </li> -->
  </ul>

  <div class="widget first">
    <h6>Quote of the Day</h6>
    <p>Get to the choppa!</p>
    <p>- Dutch</p>
    <p>Designed by Jared M. Peterson</a></p>
  </div>

  <div class="widget">
    <h6>Social Icons</h6>
    <div class="social">
      <a href="#"><i class="icon-twitter"></i></a>
      <a href="#"><i class="icon-facebook-sign"></i></a>
      <a href="#"><i class="icon-dribbble"></i></a>
      <a href="#"><i class="icon-flickr"></i></a>
      <a href="#"><i class="icon-github"></i></a>
    </div>
  </div>

</header>
