body {
  background: url("https://hd.unsplash.com/photo-1464695110811-dcf3903dc2f4") 100% no-repeat fixed;
  background-size: cover;
  font: 14px/1.4 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; }
